<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <form action="/login" method="post">
            <div id="login">
                <input id="id" type="text" placeholder="ID" >
                <input id="pw" type="password" placeholder="PW" >
            </div>
            <div id="submit">
                <input type="submit" placeholder="check">
            </div>
        </form>
        <div>
            <button onClick="location.href='register.html'">register</button>
        </div>
    </div>
</body>
</html>