<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    hahahaha
    <div>
        <div>
            <button onclick="location.href='/diary_board'">diary list</button>
        </div>
        <div>
            <button onclick="location.href='/calendar'">calendar</button>
        </div>
        <div>
            <button onclick="location.href='/logout'">logout</button>
        </div>
    </div>
</body>
</html>